/*@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');*/


body {	
	margin: 0;
	background-color: #ede9e0;
	font-family: Roboto, sans-serif;
}

h2 {
	text-align: center;
}

.wrapper {
	width: 1024px;
	margin: auto;
	background-image: url(../images/dog.png);
	background-repeat: no-repeat;
}

.container {
	width: 940px;
	margin: auto;	
}

.header {	
	display: flex;
	flex-wrap: wrap;
	width: 940px;
	margin: auto;
}

.header-img {
	display: flex;
	align-items: flex-start;
	align-content: flex-start;
	margin: 0;
	padding: 0;
}

.logo-image {
	display: flex;
	align-items: flex-start;
	padding: 5px;
}



a {
	text-decoration: none;
	color: #000;
}

.logo {	
	flex-basis: 101px;
	margin: 0px;
}

.nav-main {
	display: flex;	
	flex-grow: 1;
	justify-content: flex-end;
}

.nav-main__list {
	list-style: none;
	
	padding: 0;
	display: flex;
	justify-content: flex-end;
	text-decoration: none;
	font-weight: bold;
}

.nav-main__item {
	padding: 0 10px;	
}

.phone {
	display: flex;
	padding-left: 10px;
	color: #510fad;
	font-weight: bold;
	margin: 15px;
}

.promo {
	display: flex;
	min-height: 500px;
	justify-content: flex-end;
	align-items: center;
}

h1 {
	font-size: 42px;
}

.moto {
	display: flex;
	flex-direction: column;
	padding-right: 150px;	
}

.main-moto {
	display: flex;	
	width: 500px;
	text-align: left;	
	font-weight: 900;
}

.small-moto {	
	border-left: 2px #510fad solid;
	text-align: left;
	color: grey;
	font-weight: bold;
	line-height: 1em;
	padding: 0 10px;
	font-size: 12px;
	letter-spacing: 2px;	
}


.about {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	background-color: #510fad;
	margin: 80px 0;
	color: #fff;

}

.about-block {
	display: flex;
	flex-wrap: wrap;
}

section.about:before {
	content: "";
	display: block;
	position: absolute;
	top: -80px;
	height: 80px;
	width: 100%;
	background-image: url(../images/backround_shape.svg);
	background-position: 0 0;
	background-repeat: no-repeat;
}

.about-header {
	margin: auto;
}

.about-header-small {
	width: 50px;
}

.about-jpg {
	
}

.advantages {
	Ð²
}

.contacts {
	display: flex;
	flex-wrap: wrap;
	padding: 20px;
}

.footer-menu {
	display: flex;	
	flex-grow: 1;
	justify-content: flex-end;
}

.social-media {
	background-color: #510fad;
	color: #fff
}

.breed {
	display: flex;
	flex-wrap: wrap;
	width: 350px;
	
}

.our-breeds {
	display: flex;
	flex-wrap: wrap;
	
	
	
}

.menu-link {
	padding: 0 10px;
}

.footer-menu_list {
	list-style: none;
	margin: 40;
	padding: 1;
	display: flex;
	justify-content: flex-start;
	text-decoration: none;
	font-weight: bold;
	color: grey;
}

footer {
	padding: 15px;
}