@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


body {
	background-color: #ede9e0;
	text-align: center;
	vertical-align: middle;
	font-family: Roboto;
}

.wrapper {
	width: 1024px;
	margin: auto;
}

.container {
	width: 940px;
	margin: auto;
}

.header {
	display: flex;
	flex-wrap: wrap;
	width: 940px;
	margin: auto;

}

.header-img {
	display: flex;
	align-items: flex-start;
	align-content: flex-start;
	margin: 0;
	padding: 0;

}

.logo-image {
	display: flex;
	align-items: flex-start;
	padding: 5px;
}

.main-moto {
	display: flex;
	align-items: flex-start;
	width: 550px;
	text-align: left;
	padding: 20px;
}

a {
	text-decoration: none;
	color: #000;
}

.logo {
	
	flex-basis: 101px;
	margin: 0px;
}

.nav-main {
	display: flex;	
	flex-grow: 1;
	justify-content: flex-end;
}

.nav-main__list {
	list-style: none;
	margin: 10;
	padding: 0;
	display: flex;
	justify-content: flex-end;
	text-decoration: none;
	font-weight: bold;
}

.nav-main__item {
	padding: 0 10px;
	
}

.phone {
	display: flex;
	padding-left: 10px;
	color: #510fad;
	font-weight: bold;
	margin: 15px;
}

h1 {
	font-size: 38px;
}

.moto {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	border-left: 2px solid #510fad;
	padding: 10px;
	margin: 20px;
	text-align: left;
	color: grey;
	font-weight: bold;
	font-size: 12px;
	letter-spacing: 2px;
}


.about {
	display: flex;
	flex-wrap: wrap;
	background-color: #510fad;
	color: #fff

}

.about-header {
	display: flex;
	align-content: center;
}

.about-jpg {
	display: flex;
	align-content: flex-start;
}

.advantages {
	display: flex;
	align-content: flex-end;
}

.contacts {
	display: flex;
	flex-wrap: wrap;

}

.footer-menu {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.social-media {
	background-color: #510fad;
	color: #fff
}

.breed {
	width: 40px;
	display: inline-block;
	box-sizing: border-box;
}

.our-breeds {
	display: flex;
	flex-wrap: wrap;
}