/*@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');*/

/* roboto-regular - cyrillic_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
       url('../fonts/roboto-v19-cyrillic_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v19-cyrillic_latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v19-cyrillic_latin-regular.ttf') format('truetype'); /* Safari, Android, iOS */
}
/* fira-sans-regular - cyrillic_latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Fira Sans Regular'), local('FiraSans-Regular'),
       url('../fonts/fira-sans-v9-cyrillic_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/fira-sans-v9-cyrillic_latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/fira-sans-v9-cyrillic_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
}
/* fira-sans-600 - cyrillic_latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Fira Sans SemiBold'), local('FiraSans-SemiBold'),
       url('../fonts/fira-sans-v9-cyrillic_latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/fira-sans-v9-cyrillic_latin-600.woff') format('woff'), /* Modern Browsers */
       url('../fonts/fira-sans-v9-cyrillic_latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
}
/* fira-sans-700 - cyrillic_latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Fira Sans Bold'), local('FiraSans-Bold'),
       url('../fonts/fira-sans-v9-cyrillic_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/fira-sans-v9-cyrillic_latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/fira-sans-v9-cyrillic_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
}

body {	
	margin: 0;
	background-color: #ede9e0;
	font-family: Roboto, sans-serif;
}

h2 {
	text-align: left;
	font-size: 30px;
	letter-spacing: 2px;
}

.wrapper {
	width: 1024px;
	margin: auto;
	background-image: url(../images/dog.png);
	background-repeat: no-repeat;
}

.container {
	width: 940px;
	margin: auto;	
}

.header {	
	display: flex;
	flex-wrap: wrap;
	width: 940px;
	margin: auto;
}

.header-img {
	display: flex;
	align-items: flex-start;
	align-content: flex-start;
	margin: 0;
	padding: 0;
}

.logo-image {
	display: flex;
	align-items: flex-start;
	padding: 5px;
}



a {
	text-decoration: none;
	color: #000;
}

.logo {	
	flex-basis: 101px;
	margin: 0px;
}

.nav-main {
	display: flex;	
	flex-grow: 1;
	justify-content: flex-end;
}

.nav-main__list {
	list-style: none;
	
	padding: 0;
	display: flex;
	justify-content: flex-end;
	text-decoration: none;
	font-weight: bold;
}

.nav-main__item {
	padding: 0 10px;	
}

.phone {
	display: flex;
	padding-left: 10px;
	color: #510fad;
	font-weight: bold;
	margin: 15px;
}

.promo {
	display: flex;
	min-height: 500px;
	justify-content: flex-end;
	align-items: center;
}

h1 {
	font-size: 42px;
	
}

h3 {
	font-size: 24px;
	font-weight: medium;
	font-family: Fira sans;
}


h4 {
	font-size: 14px;
}

.review-caption {
	margin-left: 48%;
	margin-top: 0;
}

.moto {
	display: flex;
	flex-direction: column;
	padding-right: 150px;	
}

.main-moto {
	display: flex;	
	width: 500px;
	text-align: left;	
	font-weight: 900;
}

.small-moto {	
	border-left: 2px #510fad solid;
	text-align: left;
	color: grey;
	font-weight: bold;
	line-height: 1em;
	padding: 0 10px;
	font-size: 12px;
	letter-spacing: 2px;	
}


.about {
	position: relative;
	background-color: #510fad;
	margin: 80px 0;
	color: #fff;
	padding: 80px 0;

}

.link-about {
	color: #ffec00;
	font-weight: 2em;
	margin-top: 30px;
}

.about-block {
	display: flex;
	flex-wrap: wrap;
}

section.about:before {
	content: "";
	display: block;
	position: absolute;
	top: -80px;
	height: 80px;
	width: 100%;
	background-image: url(../images/backround_shape.svg);
	background-position: 0 0;
	background-repeat: no-repeat;
}

.about:after {
	content: "";
	display: block;
	position: absolute;
	bottom: -80px;
	height: 80px;
	width: 100%;
	background-image: url(../images/backround_shape.svg);
	background-position: 0 100%;
	background-repeat: no-repeat;
}

.about-list {
	line-height: 40px;
	font-size: 14px;
	padding-left: 0;
	padding-top: 50px;
}

.about-header {
	margin: auto;
	width: 350px;
}

.about-header-small {
	width: 50px;
	color: grey;
	font-weight: bold;
	font-size: 14px;
	line-height: 30px;
}

.about-icon {
	background: url(../images/css_sprites.png)
	no-repeat  -10px -10px;
	width: 20px;
	height: 14px;
	display: block;
}

.breeds-title {
	text-align: center;
	margin-top: 10px;
}

.about-jpg {
	
}

.advantages {
	padding-left: 20px;
}

.reviews {
	background-image: url(../images/“.png);
	background-repeat: no-repeat;
}

.review {
	display: flex;
	flex-wrap: wrap;
	padding-top: 55px;
}

.reviews-title {
	text-align: center;
}

.review-text {
	width: 450px;
}

.review-time {
	font-style: italic;
	color: grey;
	font-weight: bold;
}

.review-text {
	line-height: 30px;
}

.contacts {
	padding: 50px;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.footer-menu {
	display: flex;	
	flex-grow: 1;
	justify-content: flex-start;
}

.contact-item {
	flex-basis: 50%;
}

.social-media {
	background-image: url(../images/backgroun_pattern.png);
	background-repeat: no-repeat;
	color: #fff;
}

.social-title {
	padding-top: 120px;
	padding-left: 40px;
}

.social-text {
	width: 450px;
	line-height: 30px;
	padding-left: 40px;
}

.breed {
	display: flex;
	flex-wrap: wrap;
	margin: auto;
	width: 350px;
	padding: 30px;
	
}

.our-breeds {
	display: flex;
	flex-wrap: wrap;
	margin: 40px;	
	
}

.breeds {

}

.footer {
	display: flex;
	justify-content: flex-start;
}

.menu-link {
	padding: 0 10px;

}

.footer-menu_list {
	list-style: none;
	margin: 40px;
	display: flex;
	flex-wrap: wrap;
	text-decoration: none;
	font-weight: bold;
	color: grey;
}

footer {
	padding: 0 15px;
}